$mediumShadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.25);
$lightPurple: #776d87;
$darkColor: #4A4453;
$trafficRed: #e18999;
$trafficYellow: #f9f871;
$trafficGreen: #00c9a4;
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

/* width */
::-webkit-scrollbar {
	width: 0px;
}

* {
	font-family: 'Ubuntu Mono', monospace;
}

#window {
	position:absolute;
	display: block;
	z-index: 100;
	background-color: #2f2f2f;
	color:#bababa;
	width: 45vw;
	height:50vh;
	left: 30%;
	top:20%;
}


.windowBar {
	width: 100%;
	height:2.5rem;
	background-color: $lightPurple;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.windowButtons {
	height: .8rem;
	width:.8rem;
	border-radius: 360px;
	margin:.2rem;
	cursor: pointer;
}

.minimize {
	background-color: $trafficYellow;
}

.maximize {
	background-color: $trafficGreen;
}

.close {
	background-color: $trafficRed;
	margin-right: .5rem;
}

#battle-container {
	width: 100%;
	height: calc(100% - 2.5rem);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.column {
	height: 100%;
}

ul {
	list-style: none;
}

#sanity {
	text-align: center;
}

#moves {
	flex-direction: column;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	width: 35%;	
	padding:.5rem;
}

#moves ul li p {
	font-size:.8rem;
}

#moves h2 {
	font-size: 1.2rem;
	
}


#battleMessage {
	font-size: 1.5rem;
	font-weight: bold;

}

#moves li {
	font-size: 1.1rem;
}

.move {
	cursor: pointer;
}

#enemy {
	width: 65%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	margin-top: 5rem;	
}

#enemy p {
	font-size: 1.2rem;
}

.ascii {
	font-family: monospace;
	white-space: pre;
	font-size: 1.3rem;
}
